<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @note.lead_id %>
</p> -->

<p>
  <strong>Notes body:</strong>
  <%= @note.notes_body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @status_array[@note.status] %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
