<h2>Select Lead Status:</h2>

<div>

<%= form_tag("/notes", method: "get") do %>

<%= label_tag(:status, "Status: " ) %>

<br />

<% @status_array.each do |choose| %>

<%= radio_button_tag(:status, choose) %><%= choose %>

<br />

<% end %>

<%= submit_tag 'Submit Current Lead Status', :class => 'btn submit-button' %>

<% end %>
</div>